{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title }}</span></h1>
{{ with .Params.subtitle }}<h1><span class="subtitle">{{ . }}</span></h1>{{ end }}
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if .Params.date }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
{{ with .Params.categories }}
<p class="terms">
  {{ range . }}
  <a href="{{ (print "/categories/" . | urlize) | relLangURL }}">{{ . }}</a>
  {{ end }}
  {{ with $.Params.tags }}/ {{ range . }}<a href="{{ (print "/tags/" . | urlize) | relLangURL }}">#{{ . }}</a> {{ end }}{{ end }}
</p>
{{ end }}
</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
