{{ with .Site.Params.giscus }}
  {{ $repo := .repo | default "" }}
  {{ $repoID := .repoID | default "" }}
  {{ $category := .category | default "Announcements" }}
  {{ $categoryID := .categoryID | default "" }}
  {{ if and $repo $repoID $categoryID }}
<section class="comments">
  <script
    src="https://giscus.app/client.js"
    data-repo="{{ $repo }}"
    data-repo-id="{{ $repoID }}"
    data-category="{{ $category }}"
    data-category-id="{{ $categoryID }}"
    data-mapping="{{ .mapping | default "pathname" }}"
    data-strict="{{ .strict | default "0" }}"
    data-reactions-enabled="{{ .reactionsEnabled | default "1" }}"
    data-emit-metadata="{{ .emitMetadata | default "0" }}"
    data-input-position="{{ .inputPosition | default "top" }}"
    data-theme="{{ .theme | default "preferred_color_scheme" }}"
    data-lang="{{ .lang | default "en" }}"
    data-loading="{{ .loading | default "lazy" }}"
    crossorigin="anonymous"
    async>
  </script>
</section>
  {{ end }}
{{ end }}
